<div class="grid justify-content-center align-content-center" style = "height: 100vh;">
  <p-card class="text-center" header="ERROR 404" subheader="Algo salió mal..." [style]="{ width: '420px' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
    </ng-template>
    <p class="text-center">
        Al parecer el link con el que llegaste aqui está dañado.
    </p>
    <br>
    <p class="text-center">
      Asegurate de que el link lo hayamos proporcionado nosotros y no haya sido modificado. Si esto persiste, por favor, contactanos <a href = "#"> aquí </a>
    </p>
  </p-card>
</div>
